<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
</head>
<body>
	<section id="particles-js">
		<h1>Your Tasks</h1>
		<h3 id="return-home"><a href="/home">Home</a></h3>
		<div id="display">
			<p>
				<% @task = current_user.tasks.find_by_id(params[:id]) %>

					<% @tasks.each_with_index do |task, index|%>

				    <li>Task: <%= index+1 %>. Name: <%= task.name %>. Description: <%= task.description %>. Due Date: <%= task.due_date %>. | <a href="/tasks/<%= task.id %>/edit">Edit</a></li>

				<% end %>
			</p>
		</div>
	</section>
</body>